*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/connect_remote
/uninstall_remote
/keys.properties
app/fabric.properties
/shared/build/
.idea/caches/
.idea/codeStyles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
