<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.knobtviker.thermopile">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO"/>
    <uses-permission android:name="com.google.android.things.permission.MANAGE_SENSOR_DRIVERS"/>
    <uses-permission android:name="com.google.android.things.permission.SET_TIME"/>
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH"/>
    <uses-permission android:name="com.google.android.things.permission.REBOOT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".presentation.ThermopileApplication"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"/>

        <uses-library android:name="com.google.android.things"/>

        <activity
            android:name=".presentation.activities.MainActivity"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activities.ScreenSaverActivity"
            android:screenOrientation="reverseLandscape"/>
    </application>

</manifest>