<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.knobtviker.thermopile.fram">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO"/>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <uses-library android:name="com.google.android.things"/>

        <service
            android:name=".Mb85rc256vService"
            android:exported="true"
            tools:ignore="ExportedService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"/>

    </application>
</manifest>
